hr {
	margin-top: 3px;
	margin-bottom: 3px;
}
.dataTables_wrapper {
	padding: 0rem 0;
}
.md-button{
	margin: 11px 8px !important;
}
body{
	font-size: 13px;
}
.table>tbody>tr>td, .table>thead>tr>th{
	padding: 4px;
}
.form-group {
	margin-bottom: 1px;
}

.cajitas{
	width:20%;
	display:inline-block;
}
.combitos{
	width:30%;
	display:inline-block;
}
.form-control{
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
}
.badge-info {
  background-color: #3a87ad;
}